<%- include("partials/header.ejs") %>

<section class="hero about-hero">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
            <h1>About Us</h1>
            <p>Empowering individuality and self-expression through fashion</p>

            <button class="btn btn-outline-white">Shop Now</button>
        </div>
    </section>


    <section class="about-section">
        <div class="container">
            <div class="about-content">
                <!-- Main Content -->
                <div class="main-content">
                    <h1>About RunwayRebelStyle</h1>
                    <p>Welcome to RunwayRebelStyle, where fashion meets passion. Founded in 2023, we are a fashion-forward
                        brand dedicated to bringing the latest trends and timeless styles to your wardrobe. At
                        RunwayRebelStyle, we believe that fashion is not just about clothing—it's a form of self-expression
                        and a way to communicate who you are without saying a word.</p>

                    <img src="/img/abhand.jpg" class="abt-img img-fluid" alt="RunwayRebelStyle Fashion">

                    <h2>Our Mission</h2>
                    <p>Our mission is to empower individuals through fashion by providing high-quality, stylish, and
                        affordable clothing. We strive to create collections that inspire confidence, creativity, and a
                        sense of individuality in our customers. We are committed to sustainability and ethical
                        practices, ensuring that our products are made with care for both people and the planet.</p>

                    <h2>Our Vision</h2>
                    <p>At RunwayRebelStyle, our vision is to be a global leader in the fashion industry, known for our
                        innovative designs and commitment to customer satisfaction. We aim to build a community of
                        fashion enthusiasts who share our passion for style and our dedication to making a positive
                        impact in the world.</p>

                    <h2>Why Choose Us?</h2>
                    <ul>
                        <li><strong>
                                <h4>Trendy collections</h4>
                            </strong> At RunwayRebelStyle, we pride ourselves on our ability to stay ahead of the curve,
                            bringing you the latest in fashion trends. Our team of talented designers and fashion
                            experts are constantly on the lookout for emerging styles, ensuring that our collections are
                            always fresh, contemporary, and aligned with the latest global trends.
                            <ul class="mt-2">
                                <strong>What Sets Our Trendy Collections Apart:</strong>
                                <ol>
                                    <li><b>Fashion Forward Designs:</b> Each season, our design team creates exclusive
                                        pieces that reflect the latest fashion movements. From the runways of Paris and
                                        Milan to the streets of New York and Tokyo, we draw inspiration from all corners
                                        of the globe to curate a collection that is both cutting-edge and wearable.</li>
                                    <li><b>High-Quality Materials:</b>We believe that trendy fashion should not
                                        compromise on quality. Our collections are crafted from premium materials that
                                        not only look great but also feel luxurious against the skin. We meticulously
                                        select fabrics that ensure durability and comfort, so you can enjoy your stylish
                                        pieces for years to come.</li>
                                    <li><b>Versatility and Functionality:</b>Our trendy collections are designed with
                                        versatility in mind. We understand that modern fashion enthusiasts need pieces
                                        that can seamlessly transition from day to night, from casual to formal
                                        settings. Our collections offer a range of styles that can be effortlessly mixed
                                        and matched to suit any occasion.</li>
                                    <li><b>Sustainability:</b>Keeping up with trends shouldn't mean sacrificing our
                                        planet. At RunwayRebelStyle, we are committed to sustainable fashion practices. Our
                                        trendy collections incorporate eco-friendly materials and ethical production
                                        processes, allowing you to stay stylish while also being kind to the
                                        environment.</li>
                                    <li><b>Inclusivity:</b>Fashion is for everyone, and our collections reflect this
                                        belief. We offer a wide range of sizes and styles to cater to diverse body types
                                        and fashion preferences. Whether you’re looking for bold statement pieces or
                                        understated elegance, you’ll find something that resonates with your unique
                                        style.</li>
                                    <li><b>Affordability:</b>Trendy fashion doesn’t have to break the bank. We are
                                        dedicated to providing high-fashion looks at accessible prices. Our collections
                                        offer the latest trends at a fraction of the cost, making high-style attainable
                                        for all.</li>
                                </ol>
                                <li><strong>Stay Ahead with RunwayRebelStyle</strong>
                                    <p>When you shop our trendy collections, you are not just buying clothes; you are
                                        investing in a lifestyle. A lifestyle that is bold, expressive, and always ahead
                                        of the fashion game. Join the RunwayRebelStyle community today and discover the
                                        power of staying stylishly current with our trendsetting pieces.</p>

                                    <p>Explore our latest collection and redefine your wardrobe with the chicest looks
                                        of the season. With RunwayRebelStyle, you are always at the forefront of fashion.
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li><strong>Quality Craftsmanship:</strong> Our clothing is made with the finest materials and
                            meticulous attention to detail.</li>
                        <li><strong>Affordable Prices:</strong> We believe that great fashion should be accessible to
                            everyone, without breaking the bank.</li>
                        <li><strong>Customer Focus:</strong> Your satisfaction is our top priority. We are here to
                            provide you with exceptional service and support.</li>
                        <li><strong>Sustainable Practices:</strong> We are committed to ethical sourcing and
                            environmentally friendly practices.</li>
                    </ul>

                    <h3>Join the RunwayRebelStyle Movement</h3>
                    <p>We invite you to join us on our fashion journey. Explore our collections, find your unique style,
                        and become a part of the RunwayRebelStyle family. Together, let's make the world a more stylish and
                        sustainable place, one outfit at a time.</p>

                    <p>Thank you for choosing RunwayRebelStyle. We look forward to being a part of your fashion story.</p>
                </div>

                <!-- Sidebar -->
                <div class="sidebar">
                    <h3>Contact Us</h3>
                    <p>If you have any questions, feedback, or just want to say hello, feel free to reach out to us at
                        <a href="mailto:info@RunwayRebelStyle.com">info@RunwayRebelStyle.com</a>.
                    </p>

                    <h3>Meet Our Team</h3>
                    <p>Our team is a group of passionate individuals who love fashion and are dedicated to bringing you
                        the best products and services. From our designers who create stunning pieces, to our customer
                        service team who are always here to help, each member of our team plays a crucial role in making
                        RunwayRebelStyle what it is today.</p>
                    <div class="team">
                        <div class="row">
                            <div class="col-4 image-containera">
                                <img src="/img/pexels-chloekalaartist-1043473.jpg" class="img-fluid" alt="">
                                <div class="image-overlaya">
                                    <div class="image-detailsa">
                                        <p class="t-name">Summer Dress</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Our History</h3>
                    <p>RunwayRebelStyle was founded in 2023 with a vision to revolutionize the fashion industry. Starting as
                        a small online store, we have grown rapidly thanks to our loyal customers and our commitment to
                        quality and style. Our journey has been one of passion, hard work, and continuous innovation.
                    </p>
                    <img src="/img/pexels-rahulp9800-2322999.jpg" class="img-fluid hist"
                        alt="RunwayRebelStyle History">

                    <h3>Our Commitment to Sustainability</h3>
                    <p>We believe in creating fashion that is not only stylish but also sustainable. Our commitment to
                        sustainability means that we use eco-friendly materials, support ethical labor practices, and
                        strive to reduce our carbon footprint. By choosing RunwayRebelStyle, you are supporting a brand that
                        cares about the environment and the well-being of people around the world.</p>

                </div>
            </div>
        </div>
    </section>


    <%- include("partials/footer.ejs") %>

