
<div class="modal fade" id="mymodal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p><b>To Contact Seller</b></p>
                <p>To contact seller of product, click the seller name in the product card and you will be directed to the seller section. There you can see contact information...</p>
                <p class="mt-4"><b>To Contact Admin</b></p>
                <p>Send a mail to the email address below</p>
                <p><a class="text-danger" href="mailto:christophergranville2@gmail.com">christophergranville2@gmail.com</a></p>
                <p><a class="text-danger" href="mailto:runwayrebelstyle@gmail.com">RunwayRebelStyle@gmail.com</a></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>

<button id="contactbtn" data-bs-toggle="modal" data-bs-target="#mymodal">
    <i class="fa fa-envelope"></i>
</button>
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <h6>About Us</h6>
                <ul>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 part">
                <h6>Follow Us</h6>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 part">
                <!-- <h6>Partners</h6>
                <div class="row justify-content-center align-items-center g-2">
                    <div class="colw col-md-4 col-4">Column</div>
                    <div class="colw col-md-4 col-4">Column</div>
                    <div class="colw col-md-4 col-4">Column</div>
                    <div class="colw col-md-4 col-4">Column</div>
                    <div class="colw col-md-4 col-4">Column</div>
                </div> -->
            </div>
            <div class="col-sm-6 mt-2 mb-5 col-md-3 part">
                <h6>Subscribe to Our Newsletter</h6>
                <form>
                    <input type="email" placeholder="Email Address">
                    <button type="submit" class="mt-none mt-md-2">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2023 www.RunwayRebelStyle.com. All rights reserved.</p>
    </div>
</footer>

<!-- <script src="/boot5/bootstrap-5.3.1/js/bootstrap.js"></script> -->
<script src="/boot5/bootstrap-5.3.1/js/bootstrap.bundle.min.js"></script>
<script src="/js/all.js"></script>
<!-- <script src="/font/js/all.js"></script> -->
<script src="/js/index.js"></script>
</body>
<script>
    function showNotification(message) {
        // Create a new div element for the notification
        const notification = document.createElement('div');
        notification.className = 'notification-popup';
        notification.innerText = message;

        // Append the notification to the body
        document.body.appendChild(notification);

        // Set a timeout to remove the notification after 3 seconds
        setTimeout(() => {
            notification.remove();
        }, 3000);
    }

    function addToCart(id, name, price, image, seller, sellerId) {

        // Get the current cart from sessionStorage or initialize it
        let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
        let quan = document.getElementById(`qty-${id}`).value
        
        // Check if the item is already in the cart
        const existingItemIndex = cart.findIndex(item => item.id === id);
        
        if (existingItemIndex !== -1) {
            // If item exists, increase the quantity
            cart[existingItemIndex].quantity += 1;
        } else {
            // If item doesn't exist, add it with initial quantity of 1
            cart.push({
                id: id,
                name: name,
                price: price,
                image: image,
                quantity: quan,
                seller: seller,
                sellerId: sellerId
            });
        }
        
        // Save the updated cart back to sessionStorage
        sessionStorage.setItem('cart', JSON.stringify(cart));
        
        // Optionally, show a message to the user
        showNotification('Item added to cart');
    }

    function addToCart2(id, name, price, image, seller, sellerId) {

        // Get the current cart from sessionStorage or initialize it
        let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
        let quan = document.getElementById(`qty2-${id}`).value
        
        // Check if the item is already in the cart
        const existingItemIndex = cart.findIndex(item => item.id === id);
        
        if (existingItemIndex !== -1) {
            // If item exists, increase the quantity
            cart[existingItemIndex].quantity += 1;
        } else {
            // If item doesn't exist, add it with initial quantity of 1
            cart.push({
                id: id,
                name: name,
                price: price,
                image: image,
                quantity: quan,
                seller: seller,
                sellerId: sellerId
            });
        }
        
        // Save the updated cart back to sessionStorage
        sessionStorage.setItem('cart', JSON.stringify(cart));
        
        // Optionally, show a message to the user
        showNotification('Item added to cart');
    }
    </script>
</html>